body {
  background-image: url(assets/hairpopp-website.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
}

section {
  width: 50%;
  margin: auto;
  background-color: white;
  border: 1px solid grey;
  padding: 30px;
  margin-top: 20%;
  z-index: 100;
}

img {
    width: 120px;
    height: 120px;
}

.next-button,
.prev-button, .satisfied{
  margin-top: 10px;
}

carousel-section {
    /* ... Your existing styles for carousel-section ... */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.satisfied {
    margin-top: 20px; /* Add some top margin for spacing */
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
}

/* Optionally, you can add hover styles for the button */
.satisfied:hover {
    background-color: #0056b3;
}

